*.bak
phpmyadmin
img/parts/*
img/footprint/*
img/supplier/*
cache/*
img/tmp/*
package-lock.json
node_modules/*
build/*
release/*
*.min.js
*.min.css
.sass-cache/*
lib/js/bootstrap/*
lib/js/free-jqgrid/*
lib/js/jqtree/*
lib/js/jquery/*
lib/js/jquery-validation/*
lib/js/popper/*
lib/js/requirejs/*
