<div id="{{ image.popupId }}" class="modal fade" tabindex="-1" role="dialog" arial-lagelledby="{{ image.popupId }}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ image.imgPath }}" class="mx-auto d-block img-fluid">
      </div>
    </div>
  </div>
</div>
