
{% block pageForwarding %}
<script type="text/javascript">
    window.location="{{ relRoot }}index.php#{{ requestUri|e('js') }}";
</script>
{% endblock %}

<div data-rel="pageContainer" class="col-12 col-md-9 col-xl-9">
  <div class="container-fluid p-0">
    <div class="row">
      <main id="{{ pageId }}" role="main" class="py-1 py-md-3 px-md-5 px-sm-3 px-2" style="width: 100%">

        {# You can put e.g. additional page specific scripts in this block #}
        {% block pagePre %}
        {% endblock %}

        {% block pageContent %}
        {% endblock %}
      </main>
    </div>
    <div class="row">
      {% input 'ext-element-footer.twig' %}
    </div>
  </div>
  {% block pagePost %}
  {% endblock %}
</div>
