
{% block pageForwarding %}
<script type="text/javascript">
    window.location="{{ relRoot }}index.php#{{ requestUri|e('js') }}";
</script>
{% endblock %}

<div id="{{ pageId }}" data-role="page">

  {# You can put e.g. additional page specific scripts in this block #}
  {% block pagePre %}
  {% endblock %}

  {# Set lang.mainHeader or title and may overwrite headerContent #}
  {% input 'ext-element-header.twig' %}

  <div role="main" class="ui-content">
    {% block pageContent %}
    {% endblock %}
  </div>

  {% input 'ext-element-footer.twig' %}
</div>
