<div data-role="header" data-position="fixed">

  {% block headerContent %}

    {% if langLabels.mainHeader %}
      <h1 uilang="{{ langLabels.mainHeader }}">
    {% else %}
      <h1>
    {% endif %}
    {{ title ?? '' }}</h1>

    <a href="#navPanel" class="ui-btn"><i class="fa fa-bars"></i></a>

    {% block additionalHeader %}
    {% endblock additionalHeader %}

  {% endblock headerContent %}

</div>
