<!DOCTYPE html>
<html>

  {% embed 'ext-element-head.twig' %}
    {% block additionalHeader %}

      <script>

        $(function(){
          // Document ready
          //
          console.log("DEBUG: document ready");

          // Setup the controls
          //

          // Category tree
          ShelfDB.GUI.Nav.CategoryTree.setup({
            treeSelector: '#navCategorytree',
            btnCollapseSelector: '#navCollapse',
            btnExpandSelector: '#navExpand'
          });

          // Search
          ShelfDB.GUI.Nav.Search.setup({
            searchBoxSelector: '#navSearchbar'
          });

          // Panel
          $panel = $("body>[data-role='menupanel']");
          $panel.menupanel({'_transitionClose': false}).enhanceWithin();

          // Image viewer popup
          $( "#imgViewer" ).enhanceWithin().popup();
          $( "#imgViewer" ).on({
            popupbeforeposition: function(evt) {
              var maxHeight = $( window ).height() - 60 + "px";
             	$( ".photopopup img" ).css( "max-height", maxHeight );
          	}
      	  });
          $(document).on('click', 'a[data-rel=popup]', function(evt) {
    					// Set data
    					if( evt.target.localName.toLowerCase() === 'img' ) {
      					var $tn = $(evt.target);
      					$( ".photopopup img" ).attr('src', $tn.attr('data-other-src'));
              }
    			});

          // Logon
          ShelfDB.GUI.Nav.Logon.setup({
            loggedInSelector:  '[data-group=loggedIn]',
            loggedOutSelector: '[data-group=loggedOut]',
            loginLinkSelector: 'a#navUserLogin',
            logoutLinkSelector:'a#navUserLogout',
            pageAfterLogon:    'index.php'
          });
        });

      </script>

    {% endblock %}
  {% endembed %}

  <body class="ui-responsive-panel">

    {% set pageId = (pageId ?? 'index') %}
    {% embed 'ext-element-page.twig' %}

      {# Remove forwarding block for index page #}
      {% block pageForwarding %}
      {% endblock %}

      {% set langLabels = { mainHeader: 'componentDatabase' } %}

      {% block pageContent %}

        <p><a href="{{ relRoot }}pages/test.php">Testlink</a></p>
        <p><a href="#imgViewer" data-rel="popup" data-position-to="window">Testlink Popup</a></p>
        <p><a href="{{ relRoot }}pages/page-recentactivity.php">History</a></p>
        {% if (debugMode ?? false) %}
          {% include 'ext-element-dumpenv.twig' %}
        {% endif %}

      {% endblock %}

    {% endembed %}


    {% include 'ext-element-navpanel.twig' %}

  </body>
</html>
