<!DOCTYPE html>
<html lang="de">

  {% embed 'ext-element-head.twig' %}
    {% block additionalHead %}
    {% endblock %}
  {% endembed %}

  <body>


    {% set pageId = (pageId ?? 'index') %}

    {% input 'ext-element-navbar.twig' %}

    <!-- Main container -->
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">

        {% input 'ext-element-sidebar.twig' %}

        <!-- LOADING SPINNER -->
        <script type="text/javascript">
          $(function() {
            $(document).ajaxStop(function(){
                $("#ajax_loader").hide();
             });
             $(document).ajaxStart(function(){
                 $("#ajax_loader").show();
             });
          });
        </script>
        <div id='ajax_loader' class="sdb-spinner">
          <img src="{{ imgRoot }}shelfdb/ajax-loader.gif"></img>
        </div>

        <!-- PAGE BEGIN -->
        {% embed 'ext-element-page.twig' %}
          {% block pageForwarding %}
          {% endblock %}

          {% block pageContent %}

            <div class="jumbotron">
              <div class="container">
                <h1 class="display-3">ShelfDB</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Links</h4>
                <h6 class="card-subtitle mb-2 text-muted">Simple</h6>
                <p class="card-text">
                  <a href="#" class="btn btn-primary">Testlink</a>
                  <a href="#" class="btn btn-primary">Testlink Popup</a>
                  <a href="#" class="btn btn-primary">History</a>
                </p>
              </div>
            </div>

          {% endblock %}
        {% endembed %}

        <!-- Image popup viewer -->
        {% embed 'ext-element-imgPopup.twig' %}
        {% set image = {
          'popupId':'universalImagePopup',
          'imgPath':''
        } %}
        {% endembed %}

        <!-- PAGE END -->
      </div>
    </div>

  </body>
</html>
