<!DOCTYPE html>
<html lang="de">

  {% embed 'ext-element-head.twig' %}
    {% block additionalHead %}
    {% endblock %}
  {% endembed %}

  <body>


    {% set pageId = (pageId ?? 'index') %}

    {% input 'ext-element-navbar.twig' %}

    <!-- Main container -->
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">

        {% input 'ext-element-sidebar.twig' %}

        <!-- PAGE BEGIN -->
        {% embed 'ext-element-page.twig' %}
          {% block pageForwarding %}
          {% endblock %}

          {% block pageContent %}
            
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Links</h4>
                <h6 class="card-subtitle mb-2 text-muted">Simple</h6>
                <p class="card-text">
                  <a href="#" class="btn btn-primary">Testlink</a>
                  <a href="#" class="btn btn-primary">Testlink Popup</a>
                  <a href="#" class="btn btn-primary">History</a>
                </p>
              </div>
            </div>

          {% endblock %}
        {% endembed %}

        <!-- PAGE END -->
      </div>
    </div>

  </body>
</html>
