{#
	filterArguments
	searchString

#}
{% extends 'ext-element-page.twig' %}

{% set pageId = (pageId ?? 'showsearchresults') %}

{% set langLabels = { mainHeader: 'searchResults' } %}

{% block pagePre %}

<script type="text/javascript">
  console.log("DEBUG: page-showsearchresults executing...");

		ShelfDB.Core.pageContainerAfterLoadTasks.push( function( event ){
        console.log("DEBUG: pagecontainer - change");

	// Part list
    ShelfDB.GUI.Part.PartList.setup({
      listSelector: '#partList',
      caption: Lang.get('searchTableTitle'),
      filterParameters: {
				{% for key, value in filterArguments  %}
					{{ key }}: '{{ value|e('js') }}',
				{% endfor %}
      },
      enableGrouping: true,
      showGroupingSwitch: true,
      groupingSwitch: {
        caption: Lang.get('noGroupingByCategories'),
        id: 'hkHideGroups',
		onCheck: function(list) {
			list.jqGrid('setGridParam', {
				grouping: false
			}).trigger('reloadGrid');
		},
		onUnCheck: function(list) {
			list.jqGrid('setGridParam', {
				grouping: true
			}).trigger('reloadGrid');
		}
     },
      pagerSelector: '#partListPager'
    });
  });
</script>

{% endblock pagePre %}

{% block pageContent %}
  {# Title #}
  {% if langLabels.mainHeader %}
    <h2 class="text-center text-md-left" uilang="searchResultsFor">{{ searchString|e }}
  {% else %}
    <h2 class="text-center text-md-left">
  {% endif %}
  {{ title ?? '' }}</h2>

  <p>
    <table id="partList"></table>
    <div id="partListPager"></div>
  </p>


{% endblock pageContent %}
