{% extends 'ext-element-page.twig' %}

{% set pageId = (pageId ?? 'editfootprints') %}

{% set langLabels = { mainHeader: 'editFootprints' } %}

{% block pagePre %}
{% endblock pagePre %}

{% block pageContent %}
  {# Title #}
  {% if langLabels.mainHeader %}
    <h2 class="text-center text-md-left" uilang="{{ langLabels.mainHeader }}">
  {% else %}
    <h2 class="text-center text-md-left">
  {% endif %}
  {{ title ?? '' }}</h2>

  <p name="dialogMessage" uilang="popupFootprintFilterHint"></p>

  <form role="form">
  	<div class="form-group">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-sm-4">
            <button id="newFootprint" class="btn btn-primary btn-block"><i class="fa fa-plus"></i>&nbsp;<span uilang="add"></span></button>
          </div>
          <div class="col-sm-8">
            <input id="searchFilterInput" class="form-control" type="search" uilang="placeholder:popupFootprintFilterPlaceholder">
          </div>
        </div>
      </div>
  	</div>
  	<div id="searchFilterList" class="container-fluid list-group pr-0">
      <style>
        #searchFilterList .list-group-item {
          display: flex
        }
      </style>

      {% for footprint in footprints %}
        {% embed 'ext-element-listedititem.twig' %}
          {% set element = {
            'btnEditName':'editFootprint',
            'btnCopyName':'copyFootprint',
            'btnDeleteName':'deleteFootprint',
            'nameTagName':'nameFootprint',
            'id': footprint.id,
            'name': footprint.name,
            'imgPath': imgRoot ~ 'footprint/' ~ footprint.pict_fname,
            'link': relRoot ~ 'pages/page-showsearchresults.php?searchMode=footprintId&search=' ~ footprint.id
          } %}
        {% endembed %}
      {% endfor %}

      {# Generate template for late item generation #}
      {% set tmplItem %}
        {% embed 'ext-element-listedititem.twig' %}
        {% set element = {
          'btnEditName':'editFootprint',
          'btnCopyName':'copyFootprint',
          'btnDeleteName':'deleteFootprint',
          'nameTagName':'nameFootprint',
          'id': '',
          'name': '',
          'imgPath': 'tmpl',
          'link': 'tmpl'
        } %}
        {% endembed %}
      {% endset %}
  	</div>
  </form>
  <script type="text/javascript">
  	$('#searchFilterList').btsListFilter('#searchFilterInput', {
      itemChild: '[name=nameFootprint]',
      minLength: 2,
      cancelNode: function() { return ''; '<span class="btn fa fa-remove form-control-feedback" aria-hidden="true" style="position: absolute;pointer-events: auto;top: 0.175rem;right: 0.875rem;"></span>'; },
      emptyNode: function() { return '<a class="list-group-item well" href="#"><span>'+Lang.get('noSearchResults')+'</span></a>'; },
      resetOnBlur: false,
      initial: false
    });

    ShelfDB.Core.pageContainerAfterLoadTasks.push(function() {
      ShelfDB.GUI.Footprint.Edit.setup({
        nodeTemplate: '{{ tmplItem|e('js') }}'
      });
    });

  </script>

{% endblock pageContent %}
