{% extends 'ext-element-page.twig' %}

{% set pageId = (pageId ?? 'editsuppliers') %}

{% set langLabels = { mainHeader: 'editSuppliers' } %}

{% block pagePre %}
{% endblock pagePre %}

{% block pageContent %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-auto">
      </div>
    </div>
  </div>
{% endblock pageContent %}


<div data-role="header" data-position="fixed">
  <h1 uilang="partTitle"></h1>
  <a href="#navPanel" class="ui-btn"><i class="fa fa-bars"></i></a>
</div>
<div role="main" class="ui-content">
  <div class="partinfo ui-body ui-body-a ui-corner-all ui-shadow">
    <div class="flexBoxTextInputEditControl">
      <div class="flexContainer">
        <h3 name="showName" style="margin-bottom: 0.1em"><?php echo $name; ?></h3>
        <h5 style="margin-top: 0em">in <?php echo $categoryString; ?></h5>
      </div>
      <input name="editName" type="button" data-icon="edit" data-iconpos="notext">
      <input name="copyPart" type="button" data-icon="fa-clone" data-iconpos="notext">
      <input name="deletePart" type="button" data-icon="delete" data-iconpos="notext">
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a partimageblock">
        <div class="partimagewrapper">
          <a id="popuplink" href="#popupimg" data-rel="popup" data-position-to="window">
            <img class="partimage" data-other-src="<?php echo $part['mainPicFile']; ?>" src="<?php echo $part['mainPicFile']; ?>">
            <?php
              if( \ConfigFile\QRCode::$enable ) { ?>
                <br>
                <img data-other-src="<?php echo $qrImgData = $pdb->Part()->CreateQRCode($data['partid']); ?>" src="<?php echo $qrImgData; ?>">
              <?php }
            ?>
          </a>
        </div>
        <!-- Popup image viewer -->
        <div data-role="popup" id="popupimg" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15">
          <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Schließen</a>
          <img src="" alt="">
        </div>
      </div>
      <div class="ui-block-b partdetailsblock">
        <div class="ui-body ui-body-a ui-corner-all">
          <h4 uilang="storageLocation"></h4>
          <div class="flexBoxTextInputEditControl">
            <input name="showStoreloc" readonly="readonly" type=text value="<?php echo htmlentities($part['storeloc'],ENT_HTML5,'UTF-8'); ?>">
            <input name="editStoreloc" type="button" data-icon="edit" data-iconpos="notext">
          </div>
          <h4 uilang="footprint"></h4>
          <div class="flexBoxTextInputEditControl">
            <a href="#popupimg" data-rel="popup" data-position-to="window">
              <img data-other-src="<?php echo $partFootprintImageFile; ?>" src="<?php echo $partFootprintImageFile ?>" name="imgFootprint" style="max-width: 2.2em; max-height: 2.2em; margin-right: 0.3em">
            </a>
            <input name="showFootprint" readonly="readonly" type=text value="<?php echo htmlentities($part['footprint'],ENT_HTML5,'UTF-8'); ?>">
            <input name="editFootprint" type="button" data-icon="edit" data-iconpos="notext">
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <h4>
                <span uilang="amountAvailable"></span>&nbsp;
                <a href="#popupInfoTotalInstock" data-rel="popup" data-transition="pop"
                class="ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext my-tooltip-btn"
                title="Learn more" uilang="moreInfo"></a>
              </h4>
            </div>
            <div data-role="popup" id="popupInfoTotalInstock" class="ui-content" data-theme="a" style="max-width:350px;">
  							<p uilang="helpTotalInStock"></p>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <h4>
                <span uilang="amountStored"></span>&nbsp;
                <a href="#popupInfoInstock" data-rel="popup" data-transition="pop"
                class="ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext my-tooltip-btn"
                title="Learn more" uilang="moreInfo"></a>
              </h4>
            </div>
            <div data-role="popup" id="popupInfoInstock" class="ui-content" data-theme="a" style="max-width:350px;">
  							<p uilang="helpInStock"></p>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showTotal" type="text" readonly=readonly value="<?php echo $part['totalstock']; ?>">
                <input name="addTotal" type="button" data-icon="fa-plus-circle" data-iconpos="notext">
                <input name="subTotal" type="button" data-icon="fa-minus-circle" data-iconpos="notext">
                <input name="editTotal" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showStock" type="text" readonly=readonly value="<?php echo $part['instock']; ?>">
                <input name="addStock" type="button" data-icon="fa-plus-circle" data-iconpos="notext">
                <input name="subStock" type="button" data-icon="fa-minus-circle" data-iconpos="notext">
                <input name="editStock" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <h4 uilang="supplier"></h4>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <h4 uilang="partNumber"></h4>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <a href="#popupimg" data-rel="popup" data-position-to="window">
                  <img data-other-src="<?php echo $partSupplierImageFile; ?>" src="<?php echo $partSupplierImageFile ?>" name="imgSupplier"  style="margin-right: 0.3em; max-width: 2.2em; max-height: 2.2em">
                </a>
                <input name="showSupplier" url="<?php echo $url; ?>" supplierId="<?php echo $part['id_supplier']; ?>" type="text" readonly=readonly value="<?php echo $part['supplier_name']; ?>">
                <input name="editSupplier" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showPartNumber" type="text" readonly=readonly value="<?php echo $part['supplierpartnr']; ?>">
                <input name="editPartNumber" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <h4 uilang="price"></h4>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <h4 uilang="amountLeast"></h4>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showPrice" type="text" readonly=readonly floatvalue="<?php echo $part['price']; ?>" value="<?php echo $pdb->Part()->FormatPrice($part['price']); ?>">
                <input name="editPrice" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showMinStock" type="text" readonly=readonly value="<?php echo $part['mininstock']; ?>">
                <input name="editMinStock" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="ui-body ui-body-a ui-corner-all">
      <div data-enhanced="true" data-role="collapsible" class="ui-collapsible ui-collapsible-inset ui-corner-all ui-collapsible-themed-content">
        <h4 class="ui-collapsible-heading">
            <a class="ui-collapsible-heading-toggle ui-btn ui-icon-minus ui-btn-icon-left" href="#">
              <span uilang="description" />
              <span class="ui-collapsible-heading-status"> click to expand contents</span>
            </a>
            <a name="editDescription" data-enhanced="true" class="ui-collapsible-split-button ui-corner-all ui-btn ui-btn-icon-notext ui-icon-edit" href="#" uilang="edit"></a>
        </h4>
        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="false">
          <p name="showDescription" style="white-space: pre-wrap"><?php
              echo htmlentities(trim($part['comment']),ENT_HTML5,'UTF-8');
            ?></p>
        </div>
      </div>

      <div name="partDatasheetsListView" data-role="collapsible">
        <h4 uilang="datasheets"></h4>
        <p>TODO: DS</p>
      </div>

      <div name="partPictureListView" data-role="collapsible">
        <h4 uilang="images"></h4>
        <!-- Part pictures -->
        <?php echo  join("",$partImageHtml); ?>
        <div name="pictureContainer" value="add" style="vertical-align: top; display: inline-block; text-align: center">
          <a name="pictureContainerAddButton" href="#">
            <div class="partinfo partImageListItem" style="font-size: 1em; width: 10em; height: 10em">
              <i class="fa fa-plus" style="font-size: 10em"></i>
            </div>
          </a>
        </div>
      </div>

      <div name="partHistory" data-role="collapsible">
        <h4 uilang="history"></h4>
        <p>
        <?php echo  $pdb->History()->PrintHistoryData($pdb->History()->GetByTypeAndId($data['partid'], 'P')); ?>
        </p>
      </div>
    </div>
  </div>
  <!-- Popup image viewer -->
  <div data-role="popup" id="popupimg" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Schließen</a>
    <img src="" alt="">
  </div>
</div>
