<!DOCTYPE html>
<html lang="de">

  {% embed 'ext-element-head.twig' %}
    {% block additionalHead %}
    {% endblock %}
  {% endembed %}

  <body style="padding-top: 32px">
    <script>
    $(function(){
      var data = [
        {
            name: 'node1', id: 1,
            children: [
                { name: 'child1', id: 2 },
                { name: 'child2', id: 3 }
            ]
        },
        {
            name: 'node2', id: 4,
            children: [
                { name: 'child3', id: 5 }
            ]
        }
      ];
      $('#tree1').tree({
          data: data,
          autoOpen: true,
          dragAndDrop: true
      });
    });
    </script>
    <div class="position-fixed">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    {% set pageId = (pageId ?? 'index') %}
    <h1>Hello, world
      <small class="text-muted">This is a simple test of all widgets</small>
    </h1>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">jqTree</h4>
        <h6 class="card-subtitle mb-2 text-muted">mbraak on github</h6>
        <p class="card-text">
          <div id="tree1"></div>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Links</h4>
        <h6 class="card-subtitle mb-2 text-muted">Simple</h6>
        <p class="card-text">
          <a href="#" class="btn btn-primary">Testlink</a>
          <a href="#" class="btn btn-primary">Testlink Popup</a>
          <a href="#" class="btn btn-primary">History</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">jqTree</h4>
        <h6 class="card-subtitle mb-2 text-muted">mbraak on github</h6>
        <p class="card-text">
          <div id="tree1"></div>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">jqTree</h4>
        <h6 class="card-subtitle mb-2 text-muted">mbraak on github</h6>
        <p class="card-text">
          <div id="tree1"></div>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">jqTree</h4>
        <h6 class="card-subtitle mb-2 text-muted">mbraak on github</h6>
        <p class="card-text">
          <div id="tree1"></div>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">jqTree</h4>
        <h6 class="card-subtitle mb-2 text-muted">mbraak on github</h6>
        <p class="card-text">
          <div id="tree1"></div>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">jqTree</h4>
        <h6 class="card-subtitle mb-2 text-muted">mbraak on github</h6>
        <p class="card-text">
          <div id="tree1"></div>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">jqTree</h4>
        <h6 class="card-subtitle mb-2 text-muted">mbraak on github</h6>
        <p class="card-text">
          <div id="tree1"></div>
        </p>
      </div>
    </div>
  </body>
</html>
