/* @import url('jquery.mobile-1.4.5.min.css'); */

/*body {
  margin: 0;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
}*/

a {
  text-decoration: none;
  color: gray;
}

/***********
 * Nav Bar *
 ***********/
#navPanel {
  /*width: 400px;*/
  /*background-color: #edf0f2;*/
}

#navPanel .catkeys {
  font-size: 10px;
  margin-top: 1.809em;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}

/**************
 * Search bar *
 **************/
.search {
  position: relative;
  padding: 0.809em;
  color: #aaa;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  background-color: #2980B9;
  /*margin-bottom: 0.809em;*/
}

.search > a {
  color: #fcfcfc;
  font-size: 100%;
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 0.809em;
  font-weight: bold;
}

.search > div {
  background-color: #fff;
}

/**
 * jqTree
 */

.jqtree-tree {
  font-size: 90%;
}

/** Hover over element */

.jqtree-element:hover {
  background-color: #d6d6d6;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#FEE0F5), to(#FFAFCA));*/
}

ul.jqtree-tree .jqtree-title {
  text-decoration-color: gray;
}

ul.jqtree-tree .jqtree-empty {
  color: gray;
}

/** Selected row */
ul.jqtree-tree li.jqtree-selected > .jqtree-element {
  background: none;
  background-color: #c9c9c9;
  text-decoration-color: #404040;
  text-decoration-line: none;
  text-shadow: none;
  font-weight: bold;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#FEE0F5), to(#FFAFCA));*/
}


/** Hover over selected row */

ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: none;
  background-color: #c9c9c9;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#FEE0F5), to(#FFAFCA));*/
}


ul li.jqtree_common {
	/*padding: 0 0 0 20px;
	margin: 0 0 0 5px;
	min-height: 19px;*/

	background-image: url(../img/menu/treeview-default-line.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	position: relative;
}

ul.jqtree_common .jqtree-toggler {
	position: relative;
	top: -2px;
	left: 3px;
	/*height: 20px;*/
	/*width: 20px;*/
	/*background-repeat: no-repeat;
  background-image: url(../img/menu/minusplus.png);*/
	/*background-position: 50% 0;*/
	/*text-indent: 100px;*/
	/*overflow: hidden;
	cursor: pointer;*/
}

ul.jqtree_common .jqtree-toggler.jqtree-closed {
	/*background-position: 50% 100%;*/
  position: relative;
  left: 5px;
}

ul.jqtree-tree li.jqtree-folder {
  margin-bottom: 0px;
}

ul.jqtree_common li ul.jqtree_common li:last-child {
	background-position: 0 -1766px;
}
ul.jqtree_common>li:last-child,  ul.jqtree-tree>li:last-child {
	background-position: 0 -1766px;
}

div.jqtree-element.jqtree_common {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.jqtree-element.jqtree_common > span {
  display: inline-block;
  width: 90%;
  white-space: normal;
  word-wrap: break-word;
  vertical-align: top;

}

/*
  Links
 */

 a.homelink, a:visited.homelink {
   color: #fff;
   text-shadow: 0 1px 0 #000;
 }

 a:hover.homelink {
   color: #fff;
   text-shadow: 0 1px 5px #000;
 }

 div.ui-footer {
   font-size: 70%;
   padding-left: 10px;
 }


/*
  Panel
 */
.ui-panel-inner {
  padding: 0em;
}

@media ( min-width: 35em ) {

	/* wrap on wide viewports once open */

	.ui-panel-page-content-open.ui-panel-page-content-position-left {
		margin-right: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-position-right {
		margin-left: 17em;
	}
	.ui-panel-page-content-open {
		width: auto;
	}

	/* disable "dismiss" on wide viewports */
	.ui-panel-dismiss {
		display: none;
	}

	/* same as the above but for panels with display mode "push" only */

	.ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
		margin-right: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
		margin-left: 17em;
	}
	.ui-panel-page-content-open.ui-panel-page-content-display-push {
		width: auto;
	}

	.ui-panel-dismiss-display-push {
		display: none;
	}
}

/* Edit controls for category tree */
div.editcontrols {
  display: inherit;
  z-index: 10;
}

div.editcontrols.editcontrols-hidden {
  display: none;
}

/**
 * tooltip button
 */
.my-tooltip-btn {
  border: 0;
  background: none;
}

/**
 * jquery mobile split button for collapsible
 */
.ui-collapsible-heading .ui-btn.ui-collapsible-split-button {
  position: absolute;
  top: 0;
  min-width: 3em;
  right: 0;
  height: 100%;
  height: calc(100% - 2px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-width: 1px;
  margin: 0;
}

/**
 * jqgrid styles
 */

/* labels */
.ui-jqgrid label {
  font-size: 11px;
  display: inline;
}

.ui-jqgrid-title {
    font-size: 1em;
    margin: 0 15px;
    min-height: 1.1em;
    padding: 0.7em 0;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
}
.ui-widget-content {
  border-color: #ddd;
  /*background: inherit;
  background-color: #f6f6f6;*/
}
.ui-widget-header {
  border-color: #ddd;
  background: inherit;
  background-color: #e9e9e9;
  color: #333;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  line-height: 1.3;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
  border-color: #ddd;
  background: inherit;
  background-color: #f6f6f6;
  color: #333;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
  background: inherit;
  background-color: #ededed;
  border-color: #ddd;
}

.ui-widget-header a {
  color: #585858;
}

.ui-jqgrid {
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 32px !important;
}
.ui-jqgrid tr.jqgrow td{
    height: 32px !important;
}

/* Partinfo screen */
.flexBoxTextInputEditControl {
  display: flex;
  align-items: center;
}
.flexBoxTextInputEditControl .ui-input-text,
.flexBoxTextInputEditControl h3,
.flexBoxTextInputEditControl .flexContainer {
  flex: 1
}

.flexBoxTextInputEditControl .ui-input-btn {
  flex: 0 0 auto;
  margin-left: 0.5em;
}

.partinfo .partimage {
  max-width:20em;
  max-height:20em;
  width: auto;
  height:auto;
  margin:auto;
  display:block;
}
.partinfo .partimageblock {
  width:100%;
  float: none;
  text-align: center;
  display: table;
}

.partinfo .partimagewrapper {
  display: table-cell;
  vertical-align: middle;
}

.partinfo .partdetailsblock {
  width: 100%;
}

.partinfo .partdetailsblock > div {
  height: 100%;
}

.partinfo h4 {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

.partinfo .partImageListItem {
  max-width: 10em;
  max-height: 10em;
  border-style: dashed;
  border-color: orange;
  border-width: 2px;
  margin: 0.3em;
}

/* 2nd breakpoint - Float all, 20em/25/25 */
@media (min-width: 40em) {
    .partinfo .partimageblock {
      float: left;
      width: 20em;
    }

    .partinfo .partdetailsblock {
      float: none;
      width: auto;
      overflow: hidden;
      min-width: 15em;
      min-height: 20em;
    }
}

/* FA Icons in jquery mobile */
.ui-btn-fa {
    padding-left: 2.5em;
}
.ui-btn-fa .fa {
    position: absolute;
    left: 9px;
    width: 22px;
    height: 22px;
}
.ui-btn-fa .fa:before {
    line-height: 22px !important;
}

.ui-fa-disk .fa {
    background-color: rgba(0, 0, 0, 0.298039);
    border-radius: 1em;
    font-size: 14px;
}

/* Simpledialog 2 */
.ui-simpledialog-container {
  border-color: #fff !important;
}

/* Centering elements vertically */
.ui-center-element-relative {
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -webkit-transform: translateY(-50%) !important;
}

.ui-center-element-absolute {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -webkit-transform: translateY(-50%) !important;
}

/* jquery validation */
label.error {
  color: red;
}

input.error {
  border: 1px red solid;
  background: lightpink;
}
